{% doc %}
Renders a product or variant price.
@param {product} [product] - Product object.
@param {variant} [variant] - Variant object.
@param {string} [class] - Extra classes.
@param {boolean} [show_compare_at_price] - Show compare-at price.
{% enddoc %}

{%- liquid
  assign target = product

  if variant != blank
    assign target = variant
  endif

  assign compare_at_price = target.compare_at_price | default: 0
  assign price = target.price | default: 0

  if product != blank and variant == blank and product.price_varies
    assign price = product.price_min
  endif

  assign money_price = price | money
  assign money_compare = compare_at_price | money

  if settings.currency_code_enabled
    assign money_price = price | money_with_currency
    assign money_compare = compare_at_price | money_with_currency
  endif
-%}

{%- if target != blank -%}
  <div
    class="price{% if class != blank %} {{ class | escape }}{% endif %}"
  >
    <span class="price__current" data-price-current>
      {%- if product != blank and product.price_varies and variant == blank -%}
        {{ 'products.price.from_price_html' | t: price: money_price }}
      {%- else -%}
        {{ money_price }}
      {%- endif -%}
    </span>

    <s
      class="price__compare"
      data-price-compare
      {% unless show_compare_at_price and compare_at_price > price %}hidden{% endunless %}
    >
      {{ money_compare }}
    </s>
  </div>
{%- endif -%}
