<section class="page-width">
  <div class="section-heading">
    <p class="section-heading__eyebrow">{{ '404.title' | t }}</p>
    <h1>{{ '404.not_found' | t }}</h1>
  </div>

  <a class="button" href="{{ routes.all_products_collection_url }}">
    {{ '404.back_to_shopping' | t }}
  </a>
</section>

{% schema %}
{
  "name": "404",
  "settings": []
}
{% endschema %}
