<div class="{% if section.settings.include_margins %}page-width{% endif %} apps-section">
  {%- for block in section.blocks -%}
    {% render block %}
  {%- endfor -%}
</div>

{% stylesheet %}
  .apps-section {
    display: grid;
    gap: 1rem;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Apps",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "include_margins",
      "default": true,
      "label": "Include page margins"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "Apps"
    }
  ]
}
{% endschema %}
