<section class="page-section page-width">
  <div class="section-heading">
    <p class="section-heading__eyebrow">{{ 'general.page' | t }}</p>
    <h1>{{ page.title | default: shop.name }}</h1>
  </div>

  {%- if page.content != blank -%}
    <div class="rte">
      {{ page.content }}
    </div>
  {%- endif -%}
</section>

{% schema %}
{
  "name": "Page",
  "settings": []
}
{% endschema %}
